<!--<cuppa-slidemenu [menulist]="menuItemsArray" (open)="onMenuOpen()" (close)="onMenuClose()" (onItemSelect)="onItemSelect($event)"></cuppa-slidemenu>-->
<div class="container-fluid">
  <h1>Mobile APP</h1>

  <div class="row">
    <div class="col-sm-4">
      <image-upload url="http://brainwpdev1.co.nf/api/screen/uplo.php" 
        (removed)="onRemoved($event)"
        (uploadFinished)="onUploadFinished($event)"
        (uploadStateChanged)="onUploadStateChanged($event)"
        ></image-upload>
    </div>
    <div class="col-sm-4">{{afterUploadMessage}}</div>
  </div>
</div>
